#main {
    background-color: #000;
    color: #fff;
}

.heading {
    font-family: 'Poppins',sans-serif;
}


.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  
.h2 {
    color: #fff !important; 
}
.linkovi{
    color: #fff;
}

.linkovi:hover {
    color: #f8cf43;
}


.bio {
    font-family: 'Roboto',sans-serif;
}
