body {
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0%;
    padding: 0%;
    cursor: default;
}

/* all around properties*/
.container {
    width: 70%;
    position: relative;
    margin: auto;
    height: auto;

}

/*  header properties */
.site-title { 
    margin:auto;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    width: 90%;    
    margin: 0;
    overflow: hidden;
    padding: 3%;
}

.site-title p {
    float:left;
    text-align: center;
    margin-left: 5%;
}

.title-logo { 
    width: 96px;
    height: 96px;
    text-align: right;
    float: right;
    margin-top: 2%;
}

/* title I'm a python developer */

#py-dev {
    font-size: 6vw;
    position: relative;
    padding: 5% 0 5% 0;
    overflow: auto;
    font-weight: 600;
}


#py-dev p {
    padding: 0%;
    margin: 0%;
}

.py:hover {
    color: #fed847;
    transition: 0.4s;
    cursor: pointer;
}

.py1:hover {
    color: #3775a8;
    transition: 0.4s;
    cursor:pointer;
}

/* main content */

.text {
    font-size: 1.5vw;
    padding: 6% 0% 6% 0%;
}

.intro { 
    font-size: 1.9vw;
    font-weight: 500;
}

/* footer */

.contact {
    padding: 6% 0% 6% 0%;
    width: 100%;    
    overflow: hidden;
}

ul {
    list-style: none;   
    float: left;
    text-align: left;
}

li {
    padding-top: 0.8%;
    font-size: 1.6vw;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    
}

.contact p {
    float: right;
    font-size: 1.2vw;
    margin: 4% 7% 0% 0%;
}

#git:hover {
    color: #00b257;
    transition: 0.4s;
}

#twit:hover {
    color: #0096f3;
    transition: 0.4s;
}

#proton:hover{
    cursor:text;
}