body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: #d3d5fd;
    padding: 60px;
    margin: 0px 50px 0px 50px;
    top: 0px;
}

header {
    font-family: 'Poiret One', cursive;
    font-size: 80px;
    position: relative;
    top: 0px;
    float:none;
}

header p {
    padding: 20px 0px 0px 0px;
    float: none;
}

header p:hover {
    color: #929aab;
    transition:0.8s;
    cursor: pointer;
}

header img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 30px 0px 0px 40px;
    padding: 0px 30px 0px 0px;
}

nav a, header a { 
    text-decoration: none;
    color: #000;
}

nav li {
    font-size: 25px;
    padding: 0px 0px 5px 0px;
    margin: 0px;

}

nav li a:hover {
    color: #929aab;
    transition:0.8s;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    margin: 0px 0px 10px 10px;
    float: left;
}

nav p {
    font-size: 18px;
    position: relative;
    padding: 0px 0px 0px 50px;
    margin-left: 125px;
}

footer {
    margin: 10px 0px 30px 50px;
    font-size: 18px;
    padding-top: 20px;
    float:left;
}
