#main {
    background-color: #000;
    color: #fff;
}

.heading {
    font-family: 'Poppins',sans-serif;
}


.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  
.h3 {
    color: #fff !important; 
    font-family: sans-serif;
}
.linkovi{
    color: #fff;
}


.linkovi:hover {
    color: #666;
    transition: 0.5s;
}

.linkovi:click {
    color: #666;
}


.bio h5 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.6em;
}

.quote {
    font-family: 'Playfair Display';
    font-size: 1.0em;
}